name: Deploy PHP App to Azure

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: php-app
          path: |
            index.php
            add.php
            edit.php
            delete.php
            config.php
  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: php-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3407A5B533604BFC9EB9E0C27EB47264 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_53C4821CB23F44F3A17109AE018BB5CD }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_39030FD3AD954771BC33A658B2A7D793 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "web-crud-alfian"
          package: .
